.invalid {
    color: red;
}
.form-control {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .form-control label {
    font-weight: bold;
    margin-right: 3rem;
  }
  
  .form-control input {
    /* width: 3rem; */
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }