.logo {
    background-color: #561515;
    padding: 10px;
    color: #fff;
    border-radius: 5px; 
}
.flex-container {
    display: flex;
    align-items: stretch;
}
.flex-container > div {
}
.flexgrow {
    flex-grow: 5;
}
.align-right {
    text-align: right;
}